.invoice-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 0 24px;

  &__name {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #0c0e16;
    padding-bottom: 8px;
  }

  &__quantity {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #7e88c3;
  }

  &__total {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #0c0e16;
  }
}
