@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-purple: #7c5dfa;
  --light-purple: #9277ff;
  --dark-gray: #1e2139;
  --gray: #252945;
  --light-blue: #dfe3fa;
  --gray-blue: #888eb0;
  --blue: #7e88c3;
  --black: #0c0e16;
  --red: #ec5757;
  --pink: #fc9798;
  --white: #f8f8fb;
  --dark: #141625;
}
