@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-purple: #7c5dfa;
  --light-purple: #9277ff;
  --dark-gray: #1e2139;
  --gray: #252945;
  --light-blue: #dfe3fa;
  --gray-blue: #888eb0;
  --blue: #7e88c3;
  --black: #0c0e16;
  --red: #ec5757;
  --pink: #fc9798;
  --white: #f8f8fb;
  --dark: #141625;
}

.btn {
  outline: none;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  background: none;
  border: none;
  padding: 15px;
  border-radius: 24px;
  cursor: pointer;

  &--create {
    position: relative;
    background-color: var(--dark-purple);
    color: #fff;
    padding-left: 46px;

    &::before {
      position: absolute;
      content: '';
      display: inline-block;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: url('./assets/icons/icon-plus.svg'), #fff;
      background-repeat: no-repeat;
      background-position: center;
      left: 6px;
      top: 6px;
    }
  }

  &--back {
    position: relative;
    margin-left: 5px;

    &::before {
      position: absolute;
      content: '';
      display: inline-block;
      width: 10px;
      height: 12px;
      border-radius: 50%;
      background: url('./assets/icons/icon-arrow-left.svg');
      background-repeat: no-repeat;
      left: -5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--purple {
    padding: 17px 24px;
    background-color: var(--dark-purple);
    color: #fff;
  }

  &--white {
    padding: 17px 24px;
    background-color: #f9fafe;
    color: var(--blue);
  }

  &--red {
    padding: 17px 24px;
    background-color: var(--red);
    color: #fff;
  }

  &--black {
    padding: 17px 24px;
    background-color: #373b53;
    color: #888eb0;
  }
}
